@model Portfolio
@{
    ViewData["Title"] = "Create";
}



<div class="container-fluid mx-5 my-3">
    <h3>Slider image</h3>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" asp-for="Photo">
            <span class="text-danger" asp-validation-for="Photo"></span>

            


        </div>
        <a class="btn btn-primary" asp-controller="Portfolio" asp-action="Index">Back</a>
        <a class="btn btn-primary" asp-controller="Portfolio" asp-action="Create">Reset</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>


