   
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Admin/css/spur.css">
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/creative-studio.css">
    <script src="https://kit.fontawesome.com/b472a11a71.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="~/Admin/js/chart-js-config.js"></script>
    <title>Spur - A Bootstrap Admin Template</title>
</head>

<body>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a asp-controller="Dashboard" asp-action="Index" class="spur-logo"><i class="fas fa-bolt"></i> <span>Spur</span></a>
            </header>
            <nav class="dash-nav-list">
                <a  asp-controller="Dashboard" asp-action="Index" class="dash-nav-item">
                    <i class="fas fa-home"></i> Dashboard
                </a>
                <div class="dash-nav-dropdown">
                    <a asp-controller="WhatWeDo" asp-action="Index" class="dash-nav-item ">
                        <i class="fas fa-chart-bar"></i> WhatWeDo
                    </a>
                    
                </div>
                <div class="dash-nav-dropdown ">
                    <a asp-controller="Service" asp-action="Index" class="dash-nav-item ">
                        <i class="fas fa-cube"></i> Service
                    </a>
                </div>
                <div class="dash-nav-dropdown ">
                    <a asp-controller="WeSee" asp-action="Index" class="dash-nav-item ">
                        <i class="fas fa-check-circle"></i> WeSee
                    </a>
                </div>
                <div class="dash-nav-dropdown">
                    <a asp-controller="OurService" asp-action="Index" class="dash-nav-item ">
                        <i class="fas fa-file"></i> OurService
                    </a>
                    
                </div>
                <div class="dash-nav-dropdown">
                    <a asp-controller="Portfolio" asp-action="Index" class="dash-nav-item ">
                        <i class="fas fa-info"></i> Portfolio
                    </a>
                    
                </div>
                <div class="dash-nav-dropdown">
                    <a asp-controller="Stat" asp-action="Index" class="dash-nav-item ">
                        <i class="fas fa-user"></i> Stat
                    </a>

                </div>
                <div class="dash-nav-dropdown">
                    <a asp-controller="ReceivedMessages" asp-action="Index" class="dash-nav-item ">
                        <i class="fas fa-envelope"></i> Received Messages
                    </a>

                </div>
            </nav>
        </div>
        <div class="dash-app">
            
            <main class="dash-content">
                <div class="container-fluid">
                    <div>
                        @RenderBody()
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="~/Admin/js/spur.js"></script>
</body>

</html>

